@using HalloDocService.ViewModels;
@model AdminProfileViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Profile Page";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
    <link rel="stylesheet" href="~/css/PatientRequest.css" />
}
<style>
    label {
        width: 100% !important;
    }

    select {
        height: 100%;
    }
</style>
<main class="container-sm mt-sm-5">
        <div class="d-flex mt-2">
            <h3>My Profile</h3>
        </div>
        <div class="patient-request-form border p-4 mt-3 mb-3 rounded shadow">
            <form asp-area="Admin" asp-controller="Profile" asp-action="ResetPassword" method="post" >
                <div>
                    <div>
                        <h5>Account Information</h5>
                    </div>
                    <input type="hidden" name="Id" asp-for="Id"/>
                    <input type="hidden" name="AdminId" asp-for="AdminId"/>
                    <div class="row mt-3">
                        <div class="col-md-6 mb-3">
                            <div class="form-floating">
                                <input asp-for="UserName" type="text" class="form-control" id="username" placeholder="UserName" disabled>
                                <label asp-for="UserName" for="UserName">User Name</label>
                            </div>
                            <span asp-validation-for="UserName"  class="text-danger"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-floating">
                                <input asp-for="Password" type="text" class="form-control" id="password" placeholder="password">
                                <label asp-for="Password" for="password">Password</label>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-floating ">
                                <select class="form-select mb-3" asp-for="Status" aria-label="Large select example" placeholder="Status"
                                    disabled>
                                    <option selected disabled>Status</option>
                                    <option value="0">Inactive</option>
                                    <option value="1">Active</option>
                                </select>
                                <label asp-for="Status" for="Status">Status</label>
                            </div>
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-floating">
                                <select asp-for="Role" class="form-select mb-3" aria-label="Large select example" placeholder="Role"
                                    disabled>
                                    <option selected disabled>Role</option>
                                    @foreach(var item in Model.roleSelect){
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                                <label asp-for="Role" for="Status">Role</label>
                            </div>
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <div class="d-flex justify-content-end">
                                <button class="btn theme-btn" type="submit">
                                    Reset Password
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            

            @* Administration Info *@
            <form asp-area="Admin" asp-controller="Profile" asp-action="EditAdminInformation" method="post" id="AdminForm">
                 <div class="mt-4" id="adminInfoSection">
                <h5>Administrator Information</h5>
                <div class="row">
                    <input type="hidden" name="Id" asp-for="Id"/>
                <input type="hidden" name="AdminId" asp-for="AdminId"/>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating ">
                            <input asp-for="FirstName" type="text" class="form-control" id="firstname" placeholder="firstname" disabled>
                            <label asp-for="FirstName" for="firstname">First Name</label>
                        </div>
                        <span id="FirstNameValid" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating ">
                            <input asp-for="LastName" type="text" class="form-control" id="lastname" placeholder="lastname" disabled>
                            <label asp-for="LastName" for="lastname">Last Name</label>
                        </div>
                        <span id="LastNameValid" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating ">
                            <input asp-for="Email" type="email" class="form-control" id="Email" placeholder="email" disabled>
                            <label asp-for="Email" for="Email">Email</label>
                        </div>
                        <span id="EmailValid" class="text-danger" id="email-valid"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating ">
                            <input asp-for="ConfirmEmail" type="email" class="form-control" id="ConfirmEmail" placeholder="ConfirmEmail"
                                disabled>
                            <label asp-for="ConfirmEmail" for="ConfirmEmail">Confirm Email</label>
                        </div>
                        <span id="ConfirmEmailValid" class="text-danger" id="email-valid"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input asp-for="Mobile" id="Mobile" class="form-control" type="tel" name="Mobile" disabled />
                            <input asp-for="Mobile" type="hidden" id="phone_hidden" name="full_phone" disabled />
                        </div>
                        <span class="text-danger" id="mobile-valid"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="d-flex flex-wrap gap-2" id="RegionSelect">
                            @foreach(var item in Model.regionSelect){
                                <div class="form-check SelectedRegion">
                                    <input class="form-check-input" type="checkbox" value="@item.Id" id="inputCheckBox-@item.Id" checked
                                        disabled>
                                    <label class="form-check-label" for="inputCheckBox-@item.Id">
                                        @item.Name
                                    </label>
                                </div>
                            }
                            @foreach(var item in Model.RegionUnSelect){
                                <div class="form-check UnSelectedRegion">
                                    <input class="form-check-input" type="checkbox" value="@item.Id" id="inputCheckBox-@item.Id"
                                        disabled>
                                    <label class="form-check-label" for="inputCheckBox-@item.Id">
                                        @item.Name
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn secondary-theme-btn" id="editInfoBtn"
                                onclick="adminInfoEdit()">
                                Edit
                            </button>
                            <div id="saveAdminBtns" style="display: none; gap: 10px;">
                                <button type="button" class="btn secondary-theme-btn" onclick="submitEditInfo()">
                                    Save
                                </button>
                                <button type="reset" class="btn theme-btn" onclick="cancelEdit()">
                                    Cancle
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
           
            <form asp-area="Admin" asp-controller="Profile" asp-action="EditBillingInformation" method="post" id="AdminBillingForm">
                <div class="mt-4" id="billingInfoSection">
                <h5>Mailing and Billing Information</h5>
                <div class="row">
                     <input type="hidden" name="Id" asp-for="Id"/>
                <input type="hidden" name="AdminId" asp-for="AdminId"/>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating ">
                            <input asp-for="Address1" type="text" class="form-control" id="Address1" placeholder="Address1" disabled>
                            <label asp-for="Address1" for="Address1">Address1</label>
                        </div>
                        <span id="Address1Valid" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating ">
                            <input asp-for="Address2" type="text" class="form-control" id="Address2" placeholder="Address2" disabled>
                            <label asp-for="Address2" for="Address2">Address2</label>
                        </div>
                        <span id="Address2Valid" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating ">
                            <input asp-for="City" type="text" class="form-control" id="city" placeholder="city" disabled>
                            <label asp-for="City" for="city">City</label>
                        </div>
                        <span id="CityValid" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating ">
                            <select asp-for="State" class="form-select mb-3" aria-label="Large select example" placeholder="State"
                               disabled >
                                <option selected disabled>State</option>
                                @foreach(var item in Model.AllRegionList){
                                     <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                            <label asp-for="State" for="Status">State</label>
                        </div>
                        <span id="StateValid" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input asp-for="ZipCode" type="text" class="form-control" id="zipcode" placeholder="zipcode" disabled>
                            <label asp-for="ZipCode" for="zipcode">Zip Code</label>
                        </div>
                        <span id="ZipCodeValid" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input asp-for="Phone" id="Phone" class="form-control" type="tel" name="Phone" disabled />
                            <input asp-for="Phone" type="hidden" id="phone_hidden" name="full_phone" disabled />
                        </div>
                        <span id="PhoneValid" class="text-danger" id="mobile-valid"></span>
                    </div>

                    <div class="col-12">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn secondary-theme-btn" id="editBiilingInfoBtn"
                                onclick="adminBillingInfoEdit()">
                                Edit
                            </button>
                            <div id="saveBillingAdminBtns" style="display: none; gap: 10px;">
                                <button type="button" class="btn secondary-theme-btn" onclick="submitBillingForm()">
                                    Save
                                </button>
                                <button type="reset" class="btn theme-btn" onclick="cancelBillingEdit()">
                                    Cancle
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
            
        </div>
</main>

<script>
    const adminInfoEdit = () => {
        $("#saveAdminBtns").css('display', 'flex');
        $("#editInfoBtn").css('display', 'none');
        $("#adminInfoSection input").attr('disabled', false);
    }
    const cancelEdit = () => {
        $("form span").empty();
        $("#saveAdminBtns").css('display', 'none');
        $("#editInfoBtn").css('display', 'flex');
        $("#adminInfoSection input").attr('disabled', true);
    }
    const adminBillingInfoEdit = () => {
        $("#saveBillingAdminBtns").css('display', 'flex');
        $("#editBiilingInfoBtn").css('display', 'none');
        $("#billingInfoSection input, #billingInfoSection select ").attr('disabled', false);

    }
    const cancelBillingEdit = () => {
        $("form span").empty();
        $("#saveBillingAdminBtns").css('display', 'none');
        $("#editBiilingInfoBtn").css('display', 'flex');
        $("#billingInfoSection input, #billingInfoSection select").attr('disabled', true);

    }
    const submitEditInfo = () => {

        if ($("#firstname").val().trim() === "") {
            $("#FirstNameValid").text("First Name is required!");
            return;
        }
        if ($("#lastname").val().trim() === "") {
            $("#LastNameValid").text("Last Name is required!");
            return;
        }
        const email = $("#Email").val().trim();
        if (email === "") {
            $("#EmailValid").text("Email is required!");
            return;
        } else if (!isValidEmail(email)) {
            $("#EmailValid").text("Invalid Email Address!");
            return;
        }
        const confirmEmail = $("#ConfirmEmail").val().trim();
        if (confirmEmail !== email) {
            $("#ConfirmEmailValid").text("Emails do not match!");
            return;
        }
        const MobileVal = $("#Mobile").val().trim();
        if (MobileVal === "") {
            $("#mobile-valid").text("Mobile Number is required!");
            return;
        }

        let unCheckedRegions = [];
        let checkedRegions = [];

        $("#RegionSelect .SelectedRegion input").each(function(){
            if (!$(this).prop('checked')){
                unCheckedRegions.push($(this).val());
            }
        })
        unCheckedRegions.forEach(function(regionId) {
            $('<input>').attr({
                type: 'hidden',
                name: 'UnCheckedRegions',
                value: regionId
            }).appendTo('form');
        });

        @* NEw Region Selects *@
        $("#RegionSelect .UnSelectedRegion input").each(function(){
            if ($(this).prop('checked')){
                checkedRegions.push($(this).val());
            }
        })
        checkedRegions.forEach(function(regionId) {
            $('<input>').attr({
                type: 'hidden',
                name: 'CheckedRegions',
                value: regionId
            }).appendTo('form');
        });
        AddCountryCode();

        $("#AdminForm").submit();
    }

    const submitBillingForm = () => {
        if ($("#Address1").val().trim() === "") {
            $("#Address1Valid").text("Address1 is required!");
            return;
        }
        if ($("#Address2").val().trim() === "") {
            $("#Address2Valid").text("Address2 is required!");
            return;
        }
        if ($("#city").val().trim() === "") {
            $("#CityValid").text("city is required!");
            return;
        }
        @* if ($("#state").val().trim() === "") {
            $("#StateValid").text("state is required!");
            return;
        } *@
        if ($("#zipcode").val().trim() === "") {
            $("#ZipCodeValid").text("zipcode is required!");
            return;
        }
        if ($("#Phone").val().trim() === "") {
            $("#PhoneValid").text("Phone is required!");
            return;
        }
        AddCountryCode();
        $("#AdminBillingForm").submit();
    }

    function isValidEmail(email) {
        // Regular expression for email validation
        const emailRegex = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
        return emailRegex.test(email);
    }
</script>