@{
    int[] pageSizeArrray = { 5, 10, 15 };
}

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.0/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.0.0/js/dataTables.js"></script>

<style>
    .req-tab {
        overflow-x: auto;
        max-height: 450px;
    }

    .dropdown-menu.show {
        display: block;
        min-width: auto;
    }

    .select-page {
        padding: 0 2.5rem 0 0.5rem;
    }
    .action-btn ul li a{
        cursor: pointer;
    }
    .action-btn ul li a:hover{
       background : #01bce9;
    }

    @@media only screen and (max-width:768px) {
        .req-tab {
            overflow-x: auto;
            max-height: 380px;
        }
    }
</style>

@* Table Upto Mobile Screen *@
<div>
    <div class="mt-5 req-tab d-sm-block d-none">
        <table class="table request-table" id="request-table">
            <thead style="position: sticky; top: 0; background-color: white; z-index: 1;">
                <tr>
                    <th scope="col" style="width: 25%; min-width:150px">Name</th>
                    <th scope="col">Date Of Birth</th>
                    @if (ViewBag.statusType == "close")
                    {
                        <th scope="col">Region</th>
                    }
                    @if (ViewBag.statusType == "new" || ViewBag.statusType == "" || ViewBag.statusType == "pending" ||
                    ViewBag.statusType == "active")
                    {
                        <th scope="col">Requestor</th>
                    }
                    @if (ViewBag.statusType == "new" || ViewBag.statusType == "")
                    {
                        <th scope="col">Requested Date</th>
                    }
                    @if (ViewBag.statusType == "pending" || ViewBag.statusType == "active" || ViewBag.statusType ==
                    "conclude" || ViewBag.statusType == "close" || ViewBag.statusType == "unpaid")
                    {
                        <th scope="col">Physician Name</th>
                        <th scope="col">Date Of Service</th>
                    }
                    @if (ViewBag.statusType != "close")
                    {
                        <th scope="col">Phone</th>
                    }
                    <th scope="col" style="width: 15%; min-width:150px">Address</th>
                    @if (ViewBag.statusType == "new" || ViewBag.statusType == "" || ViewBag.statusType == "pending" ||
                    ViewBag.statusType == "active" || ViewBag.statusType == "close")
                    {
                        <th scope="col" style="width: 25%; min-width:150px">Notes</th>
                    }
                    <th scope="col">Chat With</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody style="overflow-y: auto; max-height: calc(50vh - 40px);">
                @{
                    int requestCount = Model.Requests.Count;
                    @if (requestCount > 0)
                    {
                        foreach (var item in Model.Requests)
                        {
                            var requestTypeClass = "";
                            if (item.RequestType == 1) requestTypeClass = "patient-row";
                            if (item.RequestType == 2) requestTypeClass = "family-row";
                            if (item.RequestType == 3) requestTypeClass = "concierge-row";
                            if (item.RequestType == 4) requestTypeClass = "business-row";

                            <tr class=@requestTypeClass>
                                <td>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span>
                                            @{
                                                var fullname = item.Firstname + ", " + item.Lastname;
                                            }
                                            @fullname
                                        </span>
                                        <a class="btn" href="mailto:@item.Email">
                                            <i class="fas fa-envelope"></i>
                                        </a>
                                    </div>

                                </td>
                                <td>

                                    @{
                                        var bdate = item.BirthDate.Length > 3 ? item.BirthDate : "-";
                                    }
                                    @bdate
                                </td>
                                @if (ViewBag.statusType == "close")
                                {
                                    <td>@item.Region</td>
                                }
                                @if (ViewBag.statusType == "new" || ViewBag.statusType == "" || ViewBag.statusType == "pending" ||
                           ViewBag.statusType == "active")
                                {
                                    <td>@item.Requestor</td>
                                }

                                @if (ViewBag.statusType == "new" || ViewBag.statusType == "")
                                {
                                    <td>@item.RequestedDate</td>
                                }
                                @if (ViewBag.statusType == "pending" || ViewBag.statusType == "active" || ViewBag.statusType ==
                           "conclude" || ViewBag.statusType == "close" || ViewBag.statusType == "unpaid")
                                {
                                    <td>@item.PhysicianName</td>
                                    <td>@item.ServiceDate</td>
                                }
                                @if (ViewBag.statusType != "close")
                                {
                                    <td>
                                        <a class="btn user-phone" href="tel:@item.Phonenumber">
                                            @item.Phonenumber
                                        </a>
                                        <small>(patient)</small>
                                    </td>
                                }
                                <td>
                                    @item.Address
                                </td>
                                @if (ViewBag.statusType == "new" || ViewBag.statusType == "" || ViewBag.statusType == "pending" ||
                           ViewBag.statusType == "active" || ViewBag.statusType == "close")
                                {
                                    <td>
                                        @item.Notes
                                    </td>
                                }
                                <td>
                                    <div class="d-flex gap-2">
                                        @if (ViewBag.statusType == "pending" || ViewBag.statusType == "active" || ViewBag.statusType
                                   ==
                                   "conclude" || ViewBag.statusType == "close" || ViewBag.statusType == "unpaid")
                                        {
                                            <button class="btn">
                                                Patient
                                            </button>
                                        }
                                        <button class="btn">
                                            Provider
                                        </button>
                                    </div>
                                </td>
                                <td class="action-btn">
                                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        Action
                                    </button>
                                    @{
                                        switch(ViewBag.statusType){
                                            case "new" : <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" onclick="populateAssignCaseModal('@item.Id')">Assign Case</a></li>
                                                            <li><a class="dropdown-item" onclick="populateCancleCaseModal('@item.Firstname','@item.Lastname','@item.Id')">Cancle Case</a></li>
                                                            <li><a class="dropdown-item" href="/admin/dashboard/ViewCase/@item.Id">View Case</a></li>
                                                            <li><a class="dropdown-item" href="/admin/dashboard/ViewNotes/@item.Id">View Notes</a></li>
                                                            <li><a class="dropdown-item" onclick="populateBlockCaseModal('@item.Id','@item.Firstname','@item.Lastname')">Block Case</a></li>
                                                          </ul> 
                                                          break;
                                            case "pending" : <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" href="/admin/dashboard/ViewCase/@item.Id">View Case</a></li>
                                                            <li><a class="dropdown-item" asp-area="Admin" asp-controller="Dashboard" asp-action="ViewUploads" asp-route-RequestId="@item.Id">View Uploads</a></li>
                                                            <li><a class="dropdown-item" href="/admin/dashboard/ViewNotes/@item.Id">View Notes</a></li>
                                                            <li><a class="dropdown-item" onclick="populateTransferCase('@item.Id','@item.PhysicianId')">Transfer</a></li>
                                                            <li><a class="dropdown-item" onclick="populateClearCase('@item.Id')">Clear Case</a></li>
                                                            <li><a class="dropdown-item" onclick="populateSendAgreement('@item.Id','@item.Email','@item.Phonenumber')">Send Agreement</a></li>
                                                          </ul> 

                                                          break;

                                            case "active" : <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="/admin/dashboard/ViewCase/@item.Id">View Case</a></li>
                                                                <li>
                                                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Dashboard" asp-action="ViewUploads" asp-route-RequestId="@item.Id"> View Uploads </a>
                                                                </li>
                                                                <li><a class="dropdown-item" href="/admin/dashboard/ViewNotes/@item.Id">View Notes</a></li>
                                                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Dashboard" asp-action="SendOrder" asp-route-RequestId="@item.Id">Orders</a></li>
                                                                <li>
                                                                   <a class="dropdown-item" onclick="populateEncounter('@item.Id')">Encounter</a>
                                                                </li>
                                                            </ul> 
                                                          break;
                                            case "conclude" : <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="/admin/dashboard/ViewCase/@item.Id">View Case</a></li>
                                                                <li>
                                                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Dashboard" asp-action="ViewUploads" asp-route-RequestId="@item.Id"> View Uploads </a>
                                                                </li>
                                                                <li><a class="dropdown-item" href="/admin/dashboard/ViewNotes/@item.Id">View Notes</a></li>
                                                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Dashboard" asp-action="SendOrder" asp-route-RequestId="@item.Id">Orders</a></li>
                                                                 @if(item.IsFinalized){
                                                                    <li>
                                                                        <a class="dropdown-item" onclick="populateDownloadEncounter('@item.Id')">Encounter</a>
                                                                    </li>
                                                                }else{
                                                                    <li>
                                                                        @using(Html.BeginForm("Encounter","Dashboard",new { area = "Admin" }, FormMethod.Post)){
                                                                            <input type="hidden" name="RequestId" value="@item.Id"/>
                                                                            <a class="dropdown-item"><button type="submit" style="all:unset;">Encounter</button></a> 
                                                                        }
                                                                        
                                                                    </li>
                                                                }
                                                            </ul> 
                                                          break;
                                            case "close" : <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="/admin/dashboard/ViewCase/@item.Id">View Case</a></li>
                                                                <li>
                                                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Dashboard" asp-action="ViewUploads" asp-route-RequestId="@item.Id"> View Uploads </a>
                                                                </li>
                                                                <li><a class="dropdown-item" href="/admin/dashboard/ViewNotes/@item.Id">View Notes</a></li>
                                                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Dashboard" asp-action="SendOrder" asp-route-RequestId="@item.Id">Orders</a></li>
                                                                <li>
                                                                     @using(Html.BeginForm("CloseCase", "Dashboard", new { area = "Admin" }, FormMethod.Post)){
                                                                        <input type="hidden" name="RequestId" value="@item.Id"/>
                                                                        <a class="dropdown-item"><button type="submit" style="all:unset;">Close Case</button></a> 
                                                                    }
                                                                </li>
                                                                <li><a class="dropdown-item" onclick="populateClearCase('@item.Id')">Clear Case</a></li>
                                                                
                                                            </ul> 
                                                          break;
                                            case "unpaid" : <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" onclick="populateAssignCaseModal('@item.Id')">Assign Case</a></li>
                                                            <li><a class="dropdown-item" onclick="populateCancleCaseModal('@item.Firstname','@item.Lastname','@item.Id')">Cancle Case</a></li>
                                                            <li><a class="dropdown-item" href="/admin/dashboard/ViewCase/@item.Id">View Case</a></li>
                                                            <li><a class="dropdown-item" href="/admin/dashboard/ViewNotes/@item.Id">View Notes</a></li>
                                                            <li><a class="dropdown-item" onclick="populateBlockCaseModal('@item.Id','@item.Firstname','@item.Lastname')">Block Case</a></li>
                                                          </ul> 
                                                          break;
                                        }
                                    }  
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="10" class="text-center">No records found</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    @* Mobile Screen View *@
    <div class="mobile-req-list d-sm-none mt-4">
        @{
            int index = 0;
            @if(@Model.Requests.Count<=0){
                <h6 class="text-center mt-4 mb-4 border-top border-bottom">No Records Found</h6>
            }
            foreach (var item in Model.Requests)
            {
                var requestTypeDot = "";
                if (item.RequestType == 1) requestTypeDot = "<p><span class='dot green-dot'></span> Patient</p>";
                if (item.RequestType == 2) requestTypeDot = "<p><span class='dot orange-dot'></span> Friend/Family</p>";
                if (item.RequestType == 3) requestTypeDot = "<p><span class='dot blue-dot'></span> Concierge</p>";
                if (item.RequestType == 4) requestTypeDot = "<p><span class='dot pink-dot'></span> Business</p>";

                

                @if (ViewBag.statusType == "new")
                {
                    <div class="accordion" id="accordian-@index">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapse-@index" aria-expanded="false">
                                    <div class="d-flex justify-content-between w-100">
                                        <div>
                                            <p class="patient-sm-name">@{
                                                    var fullname = item.Firstname + ", " + item.Lastname;
                                                } @fullname
                                            </p>
                                            <p class="patient-sm-address">
                                                @item.Address
                                            </p>
                                        </div>
                                        <div>
                                            @Html.Raw(requestTypeDot)
                                        </div>
                                    </div>
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapse-@index" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <div class="d-flex justify-content-end">
                                        <a class="btn btn-sm btn-secondary" href="/admin/dashboard/ViewCase/@item.Id">
                                            View Case
                                        </a>
                                    </div>
                                    <div>
                                        <p>Date of Birth : <span>@item.BirthDate</span> </p>
                                        <p>Email : <span>@item.Email</span> </p>
                                        <p>Patient : <span>@item.Phonenumber</span> </p>
                                        <p>Requestor : <span>@item.Requestor</span>
                                        </p>
                                    </div>
                                    <div class="req-btns mt-2">
                                        <div class="row g-2">
                                            <div class="col-6">
                                                <a class="btn btn-sm btn-purple" onclick="populateAssignCaseModal('@item.Id')">
                                                    Assign Case
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a class="btn btn-sm btn-danger" onclick="populateCancleCaseModal('@item.Firstname','@item.Lastname','@item.Id')">
                                                    Cancle Case
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a class="btn btn-sm btn-success" href="/admin/dashboard/ViewNotes/@item.Id">
                                                    View Notes
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <button class="btn btn-sm btn-danger" onclick="populateBlockCaseModal('@item.Id','@item.Firstname','@item.Lastname')">
                                                    Block Patient
                                                </button>
                                            </div>
                                            <div class="col-6">
                                                <a class="btn btn-sm btn-success" href="mailto:@item.Email">
                                                    Email
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end align-items-center gap-2 mt-3">
                                        <p>chat with : </p>
                                        <a class="btn theme-btn">Patient</a>
                                        <a class="btn theme-btn">Provider</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (ViewBag.statusType == "pending")
                {
                    <div class="accordion" id="accordian-@index">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapse-@index" aria-expanded="false">
                                    <div class="d-flex justify-content-between w-100">
                                        <div>
                                            <p class="patient-sm-name">@{
                                                    var fullname = item.Firstname + ", " + item.Lastname;
                                                } @fullname
                                            </p>
                                            <p class="patient-sm-address">
                                                @item.Address
                                            </p>
                                        </div>
                                        <div>
                                            @Html.Raw(requestTypeDot)
                                        </div>
                                    </div>
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapse-@index" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <div class="d-flex justify-content-end">
                                        <a class="btn btn-sm btn-secondary" href="/admin/dashboard/ViewCase/@item.Id">
                                            View Case
                                        </a>
                                    </div>
                                    <div>
                                        <p>Date of Birth : <span>@item.BirthDate</span> </p>
                                        <p>Email : <span>@item.Email</span> </p>
                                        <p>Patient : <span>@item.Phonenumber</span> </p>
                                        <p>Transfer Notes : <span></span> </p>
                                        <p>Date Of Service : <span>@item.ServiceDate</span> </p>
                                        <p>Physician : <span>@item.PhysicianName</span> </p>
                                        <p>Requestor : <span>@item.Requestor</span>
                                        </p>
                                    </div>
                                    <div class="req-btns mt-2">
                                        <div class="row g-2">
                                            <div class="col-6">
                                                <button class="btn btn-sm btn-warning" onclick="populateSendAgreement('@item.Id','@item.Email','@item.Phonenumber')">
                                                    Send Agreement 
                                                </button>
                                            </div>
                                            <div class="col-6">
                                                <a class="btn btn-sm btn-success" href="/admin/dashboard/ViewNotes/@item.Id">
                                                    View Notes
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <button class="btn btn-sm btn-info" onclick="populateTransferCase('@item.Id','@item.PhysicianId')">
                                                    Transfer
                                                </button>
                                            </div>
                                            <div class="col-6">
                                                <a class="btn btn-sm btn-success"  asp-area="Admin" asp-controller="Dashboard" asp-action="ViewUploads" asp-route-RequestId="@item.Id">
                                                    View Uplaods
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <button class="btn btn-sm btn-warning" onclick="populateClearCase('@item.Id')">
                                                    Clear Case
                                                </button>
                                            </div>
                                            <div class="col-6">
                                                <a class="btn btn-sm btn-success" href="mailto:@item.Email">
                                                    Email
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end align-items-center gap-2 mt-3">
                                        <p>chat with : </p>
                                        <a class="btn theme-btn">Patient</a>
                                        <a class="btn theme-btn">Provider</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (ViewBag.statusType == "active")
                {
                    <div class="accordion" id="accordian-@index">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapse-@index" aria-expanded="false">
                                    <div class="d-flex justify-content-between w-100">
                                        <div>
                                            <p class="patient-sm-name">@{
                                                    var fullname = item.Firstname + ", " + item.Lastname;
                                                } @fullname
                                            </p>
                                            <p class="patient-sm-address">
                                                @item.Address
                                            </p>
                                        </div>
                                        <div>
                                            @Html.Raw(requestTypeDot)
                                        </div>
                                    </div>
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapse-@index" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <div class="d-flex justify-content-end">
                                        <a class="btn btn-sm btn-secondary" href="/admin/dashboard/ViewCase/@item.Id">
                                            View Case
                                        </a>
                                    </div>
                                    <div>
                                        <p>Date of Birth : <span>@item.BirthDate</span> </p>
                                        <p>Email : <span>@item.Email</span> </p>
                                        <p>Patient : <span>@item.Firstname , @item.Lastname</span> </p>
                                        <p>Transfer Notes : <span>Admin Transfereed notes to physcian and
                                                physician
                                                transferred to me</span> </p>
                                        <p>Date of Service : <span>@item.ServiceDate</span> </p>
                                        <p>Physician : <span>@item.PhysicianName</span> </p>
                                        <p>Requestor : <span>@item.Requestor</span>
                                        </p>
                                    </div>
                                    <div class="req-btns mt-2">
                                        <div class="row g-2">
                                            <div class="col-6">
                                                <a class="btn btn-sm btn-success" href="/admin/dashboard/ViewNotes/@item.Id">
                                                    View Notes
                                                </a>
                                            </div>
                
                                            <div class="col-6">
                                                <a class="btn btn-sm btn-success" asp-area="Admin" asp-controller="Dashboard" asp-action="ViewUploads" asp-route-RequestId="@item.Id">
                                                    View Uploads
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <button class="btn btn-sm btn-success" onclick="populateEncounter('@item.Id')">
                                                    Encounter
                                                </button>
                                            </div>
                                            <div class="col-6">
                                                <button class="btn btn-sm btn-warning" asp-area="Admin" asp-controller="Dashboard" asp-action="SendOrder" asp-route-RequestId="@item.Id">
                                                    Orders
                                                </button>
                                            </div>
                                            <div class="col-6">
                                                <a class="btn btn-sm btn-success" href="mailto:@item.Email">
                                                    Email
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end align-items-center gap-2 mt-3">
                                        <p>chat with : </p>
                                        <a class="btn theme-btn">Patient</a>
                                        <a class="btn theme-btn">Provider</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (ViewBag.statusType == "conclude")
                {
                    <div class="accordion" id="accordian-@index">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapse-@index" aria-expanded="false">
                                    <div class="d-flex justify-content-between w-100">
                                        <div>
                                            <p class="patient-sm-name">@{
                                                    var fullname = item.Firstname + ", " + item.Lastname;
                                                } @fullname
                                            </p>
                                            <p class="patient-sm-address">
                                                @item.Address
                                            </p>
                                        </div>
                                        <div>
                                            @Html.Raw(requestTypeDot)
                                        </div>
                                    </div>
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapse-@index" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <div class="d-flex justify-content-end">
                                        <a class="btn btn-sm btn-secondary" href="/admin/dashboard/ViewCase/@item.Id">
                                            View Case
                                        </a>
                                    </div>
                                    <div>
                                        <p>Date of Birth : <span>@item.BirthDate</span> </p>
                                        <p>Email : <span>@item.Email</span> </p>
                                        <p>Patient : <span>@item.Firstname , @item.Lastname</span> </p>

                                        <p>Date of Service : <span>@item.ServiceDate</span> </p>
                                        <p>Physician : <span>@item.PhysicianName</span> </p>
                                    </div>
                                    <div class="req-btns mt-2">
                                        <div class="row g-2">
                                            <div class="col-6">
                                                <a class="btn btn-sm btn-success" href="/admin/dashboard/ViewNotes/@item.Id">
                                                    View Notes
                                                </a>
                                            </div>
                                          
                                            <div class="col-6">
                                                <a class="btn btn-sm btn-success" asp-area="Admin" asp-controller="Dashboard" asp-action="ViewUploads" asp-route-RequestId="@item.Id">
                                                    View Uploads
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                @using(Html.BeginForm("Encounter","Dashboard",new { area = "admin" }, FormMethod.Post)){
                                                                        <input type="hidden" name="RequestId" value="@item.Id"/>
                                                                        <a class="btn btn-sm btn-success"><button type="submit" style="all:unset;">Encounter</button></a> 
                                                                    }
                                                @* <button class="btn btn-sm btn-success">
                                                    Encounter
                                                </button> *@
                                            </div>
                                            <div class="col-6">
                                                <a class="btn btn-sm btn-warning" asp-area="Admin" asp-controller="Dashboard" asp-action="SendOrder" asp-route-RequestId="@item.Id">
                                                    Orders
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a class="btn btn-sm btn-success" href="mailto:@item.Email">
                                                    Email
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end align-items-center gap-2 mt-3">
                                        <p>chat with : </p>
                                        <a class="btn theme-btn">Patient</a>
                                        <a class="btn theme-btn">Provider</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (ViewBag.statusType == "close")
                {
                    <div class="accordion" id="accordian-@index">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapse-@index" aria-expanded="false">
                                    <div class="d-flex justify-content-between w-100">
                                        <div>
                                            <p class="patient-sm-name">@{
                                                    var fullname = item.Firstname + ", " + item.Lastname;
                                                } @fullname
                                            </p>
                                            <p class="patient-sm-address">
                                                @item.Address
                                            </p>
                                        </div>
                                        <div>
                                            @Html.Raw(requestTypeDot)
                                        </div>
                                    </div>
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapse-@index" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <div class="d-flex justify-content-end">
                                        <a class="btn btn-sm btn-secondary" href="/admin/dashboard/ViewCase/@item.Id">
                                            View Case
                                        </a>
                                    </div>
                                    <div>
                                        <p>Date of Birth : <span>@item.BirthDate</span> </p>
                                        <p>Email : <span>@item.Email</span> </p>
                                        <p>Patient : <span>@item.Firstname , @item.Lastname</span> </p>
                                        <p>Transfer Notes : <span>Admin Transfereed notes to physcian and
                                                physician
                                                transferred to me</span> </p>
                                        <p>Date of Service : <span>@item.ServiceDate</span> </p>
                                        <p>Physician : <span>@item.PhysicianName</span> </p>
                                        <p>Region : <span>@item.Region</span> </p>
                                    </div>
                                    <div class="req-btns mt-2">
                                        <div class="row g-2">
                                            <div class="col-6">
                                                 @using(Html.BeginForm("CloseCase", "Dashboard", new { area = "Admin" }, FormMethod.Post)){
                                                                        <input type="hidden" name="RequestId" value="@item.Id"/>
                                                                        <a class="btn btn-sm btn-danger"><button type="submit" style="all:unset;">Close Case</button></a> 
                                                                    }
                                              
                                            </div>
                                            <div class="col-6">
                                                <a class="btn btn-sm btn-success" href="/admin/dashboard/ViewNotes/@item.Id">
                                                    View Notes
                                                </a>
                                            </div>
                                           
                                            <div class="col-6">
                                                <a class="btn btn-sm btn-success" asp-area="Admin" asp-controller="Dashboard" asp-action="ViewUploads" asp-route-RequestId="@item.Id">
                                                    View Uploads
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                @using(Html.BeginForm("Encounter","Dashboard",new { area = "admin" }, FormMethod.Post)){
                                                                        <input type="hidden" name="RequestId" value="@item.Id"/>
                                                                        <a  class="btn btn-sm btn-success"><button type="submit" style="all:unset;">Encounter</button></a> 
                                                                    }
                                                @* <button class="btn btn-sm btn-success" >
                                                    Encounter
                                                </button> *@
                                            </div>
                                            <div class="col-6">
                                                <button class="btn btn-sm btn-warning" onclick="populateClearCase('@item.Id')">
                                                    Clear Case
                                                </button>
                                            </div>
                                            <div class="col-6">
                                                <a class="btn btn-sm btn-success" href="mailto:@item.Email">
                                                    Email
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end align-items-center gap-2 mt-3">
                                        <p>chat with : </p>
                                        <a class="btn theme-btn">Patient</a>
                                        <a class="btn theme-btn">Provider</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (ViewBag.statusType == "unpaid")
                {
                    <div class="accordion" id="accordian-@index">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapse-@index" aria-expanded="false">
                                    <div class="d-flex justify-content-between w-100">
                                        <div>
                                            <p class="patient-sm-name">@{
                                                    var fullname = item.Firstname + ", " + item.Lastname;
                                                } @fullname
                                            </p>
                                            <p class="patient-sm-address">
                                                @item.Address
                                            </p>
                                        </div>
                                        <div>
                                            @Html.Raw(requestTypeDot)
                                        </div>
                                    </div>
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapse-@index" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <div class="d-flex justify-content-end">
                                        <a class="btn btn-sm btn-secondary" href="/admin/dashboard/ViewCase/@item.Id">
                                            View Case
                                        </a>
                                    </div>
                                    <div>
                                        <p>Email : <span>@item.Email</span> </p>
                                        <p>Patient : <span>@item.Firstname , @item.Lastname</span> </p>

                                        <p>Date of Service : <span>@item.ServiceDate</span> </p>
                                        <p>Physician : <span>@item.PhysicianName</span> </p>

                                    </div>
                                    <div class="req-btns mt-2">
                                        <div class="row g-2">

                                            <div class="col-6">
                                                <a class="btn btn-sm btn-success" href="/admin/dashboard/ViewNotes/@item.Id">
                                                    View Notes
                                                </a>
                                            </div>

                                            <div class="col-6">
                                                <a class="btn btn-sm btn-success" asp-area="Admin" asp-controller="Dashboard" asp-action="ViewUploads" asp-route-RequestId="@item.Id">
                                                    View Uploads
                                                </a>
                                            </div>

                                            <div class="col-6">
                                                <a class="btn btn-sm btn-success" href="mailto:@item.Email">
                                                    Email
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end align-items-center gap-2 mt-3">
                                        <p>chat with : </p>
                                        <a class="btn theme-btn">Patient</a>
                                        <a class="btn theme-btn">Provider</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                index++;
            }
        }
    </div>
    @* Pagination *@
    <div class="d-flex justify-content-between align-items-center mt-2">
        <div>
            <div class="d-flex" style="white-space: nowrap;">
                Page : <select class="form-select select-page ms-2 pageChange" onchange="pageChange()"
                    aria-label="Default select example">
                    @{
                        for (int i = 1; i <= @Model.NoOfPage; i++)
                        {
                            if (ViewBag.currentPage == i)
                            {
                                <option value="@i" selected>@i</option>
                            }
                            else
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    }
                </select> &nbsp; of @Model.NoOfPage
            </div>
        </div>

        
        <div>
            <div class="d-sm-flex d-none">
                Show Results : @Model.PageRangeStart - @Model.PageRangeEnd Out of <span>&nbsp;@Model.TotalPage</span>
            </div>
        </div>
        <div>
            <div class="d-flex" style="white-space: nowrap;">
                Show Rows :
                <select class="form-select select-page ms-2 pageRecordChange" onchange="pageRecordChange()"
                    aria-label="Default select example">
                    @{
                        foreach (int i in pageSizeArrray)
                        {
                            if (ViewBag.currentPageSize == i)
                            {
                                <option value="@i" selected>@i</option>
                            }
                            else
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    }
                </select>
            </div>
            <div class="d-flex d-sm-none">
                Show Results : @Model.PageRangeStart - @Model.PageRangeEnd Out of <span>&nbsp;@Model.TotalPage</span>
            </div>
        </div>
    </div>

</div>





@* Cancle Case Modal *@
<div class="modal fade shadow-lg " id="cancleCaseModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
</div>



@* Assign Case Modal *@
<div class="modal fade shadow-lg " id="assignCaseModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
</div>

@* Block Case Modal *@
<div class="modal fade shadow-lg " id="blockCaseModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">

</div>
 @* Clear Case *@
    <div id="clearCaseModal" class="modal fade" >
        
    </div>
    
@* transfer Case Modal *@
<div class="modal fade shadow-lg " id="transferModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    
</div>


@* send agreeement Modal *@
<div class="modal fade shadow-lg " id="sendAgreementModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
   
</div>

@* Encounter Modal *@
<div class="modal fade shadow-lg " id="encounterModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
   
</div>


   