@{
    int[] pageSizeArrray = { 5, 10, 15 };
}
<div class="table-responsive d-md-block d-none">
    <table class="table">
        <thead>
            <th>Patient Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Created Date</th>
            <th>Notes</th>
            <th>Is Active</th>
            <th>Action</th>
        </thead>
        <tbody>
            @if (((IEnumerable<EmailLogsView>)Model.BlockHistoryList).Any())
            {
                @foreach (var item in Model.BlockHistoryList)
                {
                    <tr>
                        <td>@item.PatientName</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Email</td>
                        <td>@item.CreatedDate.ToString("MMM dd  , yyy")</td>
                        <td>@item.Notes</td>
                        <td><input type="checkbox" class="form-check-input" checked="@item.IsActive" disabled></td> 
                        <td>
                            @if(item.IsActive==false){
                                <button class="btn theme-btn" onclick="openUnblockModal(@item.Id)">
                                    Unblock
                                </button>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7" class="text-center">No records found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
 
<div class="d-md-none">
     @if (((IEnumerable<EmailLogsView>)Model.BlockHistoryList).Any())
    {
        @foreach (var item in Model.BlockHistoryList)
        {
            <div class="accordion" id="accordian-@item.Id">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapse-@item.Id" aria-expanded="false">
                            <div class="d-flex flex-column w-100">
                                <p>@item.PatientName</p>
                                <p>Email : @item.Email</p>
                            </div>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapse-@item.Id" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="d-flex flex-column w-100">
                                <p>PhoneNumber : @item.PhoneNumber</p>
                                <p>Created Date : @item.CreatedDate.ToString("MMM dd  , yyy")</p>
                                <p>Notes : @item.Notes</p>
                                <p>Is Active : <input type="checkbox" class="form-check-input" checked="@item.IsActive" disabled></p>
                                @if(item.IsActive==false){
                                    <button class="btn theme-btn" onclick="openUnblockModal(@item.Id)">
                                        Unblock
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p class="text-center border-bottom border-top p-2">No Records Found</p>
    }
</div>

@* Pagination *@
<div class="d-flex justify-content-between align-items-center mt-2">
    <div>
        <div class="d-flex align-items-center" style="white-space: nowrap;">
            Page : <select class="form-select select-page ms-2 RecordsPageChange"
                onchange="RecordsPageChange()" aria-label="Default select example">
                @{
                    for (int i = 1; i <= Model.TotalPage; i++)
                    {
                        if (Model.CurrentPage == i)
                        {
                            <option value="@i" selected>@i</option>
                        }
                        else
                        {
                            <option value="@i">@i</option>
                        }
                    }
                }
            </select> &nbsp; of @Model.TotalPage
        </div>
    </div>
    <div>
        <div class="d-sm-flex d-none">
            Show Results : @Model.PageRangeStart - @Model.PageRangeEnd Out of
            <span>&nbsp;@Model.TotalCount </span>
        </div>
    </div>
    <div>
        <div class="d-flex align-items-center" style="white-space: nowrap;">
            Show Rows :
            <select class="form-select select-page ms-2 ReqRecordsPageRecordChange" onchange="pageRecordChange()"
                aria-label="Default select example">
                @{
                    foreach (int i in pageSizeArrray)
                    {
                        if (Model.CurrentPageSize == i)
                        {
                            <option value="@i" selected>@i</option>
                        }
                        else
                        {
                            <option value="@i">@i</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="d-flex d-sm-none">
            Show Results : @Model.PageRangeStart - @Model.PageRangeEnd Out of
            <span>&nbsp;@Model.TotalPage</span>
        </div>
    </div>
</div>

