@{
    int[] pageSizeArrray = { 5, 10, 15 };
}
<div class="table-responsive">
    <table class="table">
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Action</th>
        </thead>
        <tbody>
            @if (((IEnumerable<PatientHistoryView>)Model.PatientHistoryList).Any())
            {
                @foreach (var item in Model.PatientHistoryList)
                {
                    <tr>
                        <td>@item.Firstname</td>
                        <td>@item.Lastname</td>
                        <td>@item.Email</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Address</td>
                        <td>
                            @using(Html.BeginForm("ExplorePatient","PatientHistory",new {Area = "Admin"}, FormMethod.Post)){
                                <input type="hidden" name="userId" value="@item.UserId"/>
                                <input type="hidden" name="requestId" value="@item.RequestId"/>
                                <button type="submit" class="btn theme-btn">Explore</button>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" class="text-center">No records found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@* Pagination *@
<div class="d-flex justify-content-between align-items-center mt-2">
    <div>
        <div class="d-flex align-items-center" style="white-space: nowrap;">
            Page : <select class="form-select select-page ms-2 PatientHistoryPageChange"
                onchange="PatientHistoryPageChange()" aria-label="Default select example">
                @{
                    for (int i = 1; i <= Model.TotalPage; i++)
                    {
                        if (Model.CurrentPage == i)
                        {
                            <option value="@i" selected>@i</option>
                        }
                        else
                        {
                            <option value="@i">@i</option>
                        }
                    }
                }
            </select> &nbsp; of @Model.TotalPage
        </div>
    </div>
    <div>
        <div class="d-sm-flex d-none">
            Show Results : @Model.PageRangeStart - @Model.PageRangeEnd Out of
            <span>&nbsp;@Model.TotalCount </span>
        </div>
    </div>
    <div>
        <div class="d-flex align-items-center" style="white-space: nowrap;">
            Show Rows :
            <select class="form-select select-page ms-2 HistoryPageRecordChange" onchange="pageRecordChange()"
                aria-label="Default select example">
                @{
                    foreach (int i in pageSizeArrray)
                    {
                        if (Model.CurrentPageSize == i)
                        {
                            <option value="@i" selected>@i</option>
                        }
                        else
                        {
                            <option value="@i">@i</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="d-flex d-sm-none">
            Show Results : @Model.PageRangeStart - @Model.PageRangeEnd Out of
            <span>&nbsp;@Model.TotalPage</span>
        </div>
    </div>
</div>

