@{
    int[] pageSizeArrray = { 5, 10, 15 };
}

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.0/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.0.0/js/dataTables.js"></script>

<style>
    .req-tab {
        overflow-x: auto;
        max-height: 450px;
    }

    .dropdown-menu.show {
        display: block;
        min-width: auto;
    }

    .select-page {
        padding: 0 2.5rem 0 0.5rem;
    }
    .action-btn ul li a{
        cursor: pointer;
    }
    .action-btn ul li a:hover{
       background : #01bce9;
    }

    @@media only screen and (max-width:768px) {
        .req-tab {
            overflow-x: auto;
            max-height: 380px;
        }
    }
</style>

@* Table Upto Mobile Screen *@
<div>
    <div class="mt-5 req-tab d-sm-block d-none">
        <table class="table request-table" id="request-table">
            <thead style="position: sticky; top: 0; background-color: white; z-index: 1;">
                <tr>
                    <th scope="col" style="width: 25%; min-width:150px">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col" style="width: 50%; ">Address</th>
                    @if (ViewBag.statusType == "active")
                    {
                        <th scope="col" style="width: 25%; min-width:150px">Status</th>
                    }
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody style="overflow-y: auto; max-height: calc(50vh - 40px);">
                @{
                    int requestCount = Model.Requests.Count;
                    @if (requestCount > 0)
                    {
                        foreach (var item in Model.Requests)
                        {
                            var requestTypeClass = "";
                            if (item.RequestType == 1) requestTypeClass = "patient-row";
                            if (item.RequestType == 2) requestTypeClass = "family-row";
                            if (item.RequestType == 3) requestTypeClass = "concierge-row";
                            if (item.RequestType == 4) requestTypeClass = "business-row";

                            <tr class=@requestTypeClass>
                                <td>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span>
                                            @{
                                                var fullname = item.Firstname + ", " + item.Lastname;
                                            }
                                            @fullname
                                        </span>
                                        <a class="btn" href="mailto:@item.Email">
                                            <i class="fas fa-envelope"></i>
                                        </a>
                                    </div>

                                </td>
                                    <td>
                                        <a class="btn user-phone" href="tel:@item.Phonenumber">
                                            @item.Phonenumber
                                        </a>
                                        <small>(patient)</small>
                                    </td>
                               <td>
                                        @item.Address
                                    </td>
                                
                                @if (ViewBag.statusType == "active")
                                {
                                    <td>
                                        Status
                                    </td>
                                }
                                <td class="action-btn">
                                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        Action
                                    </button>
                                    @{
                                        switch(ViewBag.statusType){
                                            case "new" : <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" onclick="populateAcceptModal('@item.Id')">Accept</a></li>
                                                            <li><a class="dropdown-item" href="/provider/dashboard/ViewCase/@item.Id">View Case</a></li>
                                                            <li><a class="dropdown-item" href="/provider/dashboard/ViewNotes/@item.Id">View Notes</a></li>
                                                          </ul> 
                                                          break;
                                            case "pending" : <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" onclick="populateSendAgreement('@item.Id','@item.Email','@item.Phonenumber',2)">Send Agreement</a></li>
                                                            <li><a class="dropdown-item" href="/provider/dashboard/ViewCase/@item.Id">View Case</a></li>
                                                            <li><a class="dropdown-item" asp-area="Provider" asp-controller="Dashboard" asp-action="ViewUploads" asp-route-RequestId="@item.Id">View Uploads</a></li>
                                                            <li><a class="dropdown-item" href="/provider/dashboard/ViewNotes/@item.Id">View Notes</a></li>
                                                            <li><a class="dropdown-item" onclick="populatePhysicianTransferCase('@item.Id')">Transfer</a></li>
                                                          </ul> 

                                                          break;

                                            case "active" : <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="/provider/dashboard/ViewCase/@item.Id">View Case</a></li>
                                                                <li>
                                                                    <a class="dropdown-item" asp-area="Provider" asp-controller="Dashboard" asp-action="ViewUploads" asp-route-RequestId="@item.Id"> View Uploads </a>
                                                                </li>
                                                                <li><a class="dropdown-item" href="/Provider/dashboard/ViewNotes/@item.Id">View Notes</a></li>
                                                                <li><a class="dropdown-item" asp-area="Provider" asp-controller="Dashboard" asp-action="SendOrder" asp-route-RequestId="@item.Id">Orders</a></li>
                                                                <li>
                                                                   <a class="dropdown-item" onclick="populateEncounter('@item.Id', 2)">Encounter</a>
                                                                </li>
                                                            </ul> 
                                                          break;
                                            case "conclude" : <ul class="dropdown-menu">
                                                                <li>
                                                                    @using(Html.BeginForm("ConcludeCare", "Dashboard", new { area = "Provider" }, FormMethod.Post)){
                                                                        <input type="hidden" name="RequestId" value="@item.Id"/>
                                                                        <a class="dropdown-item"><button type="submit" style="all:unset;">Conclude Care</button></a> 
                                                                    }
                                                                </li>
                                                                <li><a class="dropdown-item" href="/provider/dashboard/ViewCase/@item.Id">View Case</a></li>
                                                                <li>
                                                                    <a class="dropdown-item" asp-area="provider" asp-controller="Dashboard" asp-action="ViewUploads" asp-route-RequestId="@item.Id"> View Uploads </a>
                                                                </li>
                                                                <li><a class="dropdown-item" href="/provider/dashboard/ViewNotes/@item.Id">View Notes</a></li> 
                                                                @if(item.IsFinalized){
                                                                    <li>
                                                                   <a class="dropdown-item" onclick="populateDownloadEncounter('@item.Id')">Encounter</a>
                                                                </li>
                                                                }else{

                                                                <li>
                                                                    @using(Html.BeginForm("Encounter","Dashboard",new { area = "provider" }, FormMethod.Post)){
                                                                        <input type="hidden" name="RequestId" value="@item.Id"/>
                                                                        <a class="dropdown-item"><button type="submit" style="all:unset;">Encounter</button></a> 
                                                                    }
                                                                    
                                                                </li>
                                                                }
                                                            </ul> 
                                                          break;
                                        
                                            
                                        }
                                    }  
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="10" class="text-center">No records found</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>


    @* Mobile Screen View *@
    <div class="mobile-req-list d-sm-none mt-4">
        @{
            int index = 0;
            @if(@Model.Requests.Count<=0){
                <h6 class="text-center mt-4 mb-4 border-top border-bottom">No Records Found</h6>
            }
            foreach (var item in Model.Requests)
            {
                var requestTypeDot = "";
                if (item.RequestType == 1) requestTypeDot = "<p><span class='dot green-dot'></span> Patient</p>";
                if (item.RequestType == 2) requestTypeDot = "<p><span class='dot orange-dot'></span> Friend/Family</p>";
                if (item.RequestType == 3) requestTypeDot = "<p><span class='dot blue-dot'></span> Concierge</p>";
                if (item.RequestType == 4) requestTypeDot = "<p><span class='dot pink-dot'></span> Business</p>";

                

                @if (ViewBag.statusType == "new")
                {
                    <div class="accordion" id="accordian-@index">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapse-@index" aria-expanded="false">
                                    <div class="d-flex justify-content-between w-100">
                                        <div>
                                            <p class="patient-sm-name">@{
                                                    var fullname = item.Firstname + ", " + item.Lastname;
                                                } @fullname
                                            </p>
                                            <p class="patient-sm-address">
                                                @item.Address
                                            </p>
                                        </div>
                                        <div>
                                            @Html.Raw(requestTypeDot)
                                        </div>
                                    </div>
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapse-@index" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <div class="d-flex justify-content-end">
                                        <a class="btn btn-sm btn-secondary" href="/provider/dashboard/ViewCase/@item.Id">
                                            View Case
                                        </a>
                                    </div>
                                    <div>
                                        <p>Phone : <span>@item.Phonenumber</span> </p>
                                    </div>
                                    <div class="req-btns mt-2">
                                        <div class="row g-2">
                                           <div class="col-6">
                                                <a class="btn btn-sm btn-success" onclick="populateAcceptModal('@item.Id')">
                                                    Accept
                                                </a>
                                            </div>
                                           <div class="col-6">
                                                <a class="btn btn-sm btn-success" href="/provider/dashboard/ViewCase/@item.Id">
                                                    View Case
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a class="btn btn-sm btn-success" href="/provider/dashboard/ViewNotes/@item.Id">
                                                    View Notes
                                                </a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (ViewBag.statusType == "pending")
                {
                    <div class="accordion" id="accordian-@index">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapse-@index" aria-expanded="false">
                                    <div class="d-flex justify-content-between w-100">
                                        <div>
                                            <p class="patient-sm-name">@{
                                                    var fullname = item.Firstname + ", " + item.Lastname;
                                                } @fullname
                                            </p>
                                            <p class="patient-sm-address">
                                                @item.Address
                                            </p>
                                        </div>
                                        <div>
                                            @Html.Raw(requestTypeDot)
                                        </div>
                                    </div>
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapse-@index" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <div class="d-flex justify-content-end">
                                        <a class="btn btn-sm btn-secondary" href="/provider/dashboard/ViewCase/@item.Id">
                                            View Case
                                        </a>
                                    </div>
                                    <div>
                                        <p>Patient : <span>@item.Phonenumber</span> </p>
                                    </div>
                                    <div class="req-btns mt-2">
                                        <div class="row g-2">
                                            <div class="col-6">
                                                <button class="btn btn-sm btn-warning" onclick="populateSendAgreement('@item.Id','@item.Email','@item.Phonenumber')">
                                                    Send Agreement 
                                                </button>
                                            </div>
                                            <div class="col-6">
                                                <a class="btn btn-sm btn-success" href="/provider/dashboard/ViewNotes/@item.Id">
                                                    View Notes
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a class="btn btn-sm btn-success" asp-area="Provider" asp-controller="Dashboard" asp-action="ViewUploads" asp-route-RequestId="@item.Id">
                                                    View Uploads
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <button class="btn btn-sm btn-info" onclick="populateTransferCase('@item.Id','@item.PhysicianId')">
                                                    Transfer
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (ViewBag.statusType == "active")
                {
                    <div class="accordion" id="accordian-@index">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapse-@index" aria-expanded="false">
                                    <div class="d-flex justify-content-between w-100">
                                        <div>
                                            <p class="patient-sm-name">@{
                                                    var fullname = item.Firstname + ", " + item.Lastname;
                                                } @fullname
                                            </p>
                                            <p class="patient-sm-address">
                                                @item.Address
                                            </p>
                                        </div>
                                        <div>
                                            @Html.Raw(requestTypeDot)
                                        </div>
                                    </div>
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapse-@index" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <div class="d-flex justify-content-end">
                                        <a class="btn btn-sm btn-secondary" href="/provider/dashboard/ViewCase/@item.Id">
                                            View Case
                                        </a>
                                    </div>
                                    <div>
                                        <p>Patient : <span>@item.Firstname , @item.Lastname</span> </p>
                                    </div>
                                    <div class="req-btns mt-2">
                                        <div class="row g-2">
                                            <div class="col-6">
                                                <a class="btn btn-sm btn-success" href="/provider/dashboard/ViewNotes/@item.Id">
                                                    View Notes
                                                </a>
                                            </div>
                
                                            <div class="col-6">
                                                <a class="btn btn-sm btn-success" asp-area="Provider" asp-controller="Dashboard" asp-action="ViewUploads" asp-route-RequestId="@item.Id">
                                                    View Uploads
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <button class="btn btn-sm btn-success" onclick="populateEncounter('@item.Id')">
                                                    Encounter
                                                </button>
                                            </div>
                                            <div class="col-6">
                                                <a class="btn btn-sm btn-warning" asp-area="Provider" asp-controller="Dashboard" asp-action="SendOrder" asp-route-RequestId="@item.Id">
                                                    Orders
                                                </a>
                                            </div>
                                           
                                        </div>
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (ViewBag.statusType == "conclude")
                {
                    <div class="accordion" id="accordian-@index">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapse-@index" aria-expanded="false">
                                    <div class="d-flex justify-content-between w-100">
                                        <div>
                                            <p class="patient-sm-name">@{
                                                    var fullname = item.Firstname + ", " + item.Lastname;
                                                } @fullname
                                            </p>
                                            <p class="patient-sm-address">
                                                @item.Address
                                            </p>
                                        </div>
                                        <div>
                                            @Html.Raw(requestTypeDot)
                                        </div>
                                    </div>
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapse-@index" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <div class="d-flex justify-content-end">
                                        <a class="btn btn-sm btn-secondary" href="/provider/dashboard/ViewCase/@item.Id">
                                            View Case
                                        </a>
                                    </div>
                                    <div>
                                        <p>Date of Birth : <span>@item.BirthDate</span> </p>
                                        <p>Email : <span>@item.Email</span> </p>
                                    </div>
                                    <div class="req-btns mt-2">
                                        <div class="row g-2">
                                            @using(Html.BeginForm("ConcludeCare", "Dashboard", new { area = "Provider" }, FormMethod.Post)){
                                                                        <input type="hidden" name="RequestId" value="@item.Id"/>
                                                                        <button class="btn btn-success">Conclude Care</button> 
                                                                    }
                                            <div class="col-6">
                                                <a class="btn btn-sm btn-success" href="/provider/dashboard/ViewNotes/@item.Id">
                                                    View Notes
                                                </a>
                                            </div>
                                          
                                            <div class="col-6">
                                                <a class="btn btn-sm btn-success" asp-area="Provider" asp-controller="Dashboard" asp-action="ViewUploads" asp-route-RequestId="@item.Id">
                                                    View Uploads
                                                </a>
                                            </div>
                                             @if(item.IsFinalized){      
                                                                   <button class="btn btn-success" onclick="populateDownloadEncounter('@item.Id')">Encounter</button>
                                                                }else{

                                                                
                                                                    @using(Html.BeginForm("Encounter","Dashboard",new { area = "provider" }, FormMethod.Post)){
                                                                        <input type="hidden" name="RequestId" value="@item.Id"/>
                                                                        <button class="btn btn-success">Encounter</button> 
                                                                    }  
                                                                }
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                }
                index++;
            }
        }
    </div>
    @* Pagination *@
    <div class="d-flex justify-content-between align-items-center mt-2">
        <div>
            <div class="d-flex" style="white-space: nowrap;">
                Page : <select class="form-select select-page ms-2 pageChange" onchange="pageChange()"
                    aria-label="Default select example">
                    @{
                        for (int i = 1; i <= @Model.NoOfPage; i++)
                        {
                            if (ViewBag.currentPage == i)
                            {
                                <option value="@i" selected>@i</option>
                            }
                            else
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    }
                </select> &nbsp; of @Model.NoOfPage
            </div>
        </div>

        
        <div>
            <div class="d-sm-flex d-none">
                Show Results : @Model.PageRangeStart - @Model.PageRangeEnd Out of <span>&nbsp;@Model.TotalPage</span>
            </div>
        </div>
        <div>
            <div class="d-flex" style="white-space: nowrap;">
                Show Rows :
                <select class="form-select select-page ms-2 pageRecordChange" onchange="pageRecordChange()"
                    aria-label="Default select example">
                    @{
                        foreach (int i in pageSizeArrray)
                        {
                            if (ViewBag.currentPageSize == i)
                            {
                                <option value="@i" selected>@i</option>
                            }
                            else
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    }
                </select>
            </div>
            <div class="d-flex d-sm-none">
                Show Results : @Model.PageRangeStart - @Model.PageRangeEnd Out of <span>&nbsp;@Model.TotalPage</span>
            </div>
        </div>
    </div>

</div>

@* send agreeement Modal *@
<div class="modal fade shadow-lg " id="sendAgreementModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
   
</div>

@* Encounter Modal *@
<div class="modal fade shadow-lg " id="encounterModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
   
</div>

@* Assign Case Modal *@
<div class="modal fade shadow-lg " id="assignCaseModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
</div>