@using HalloDocService.ViewModels;
@model AdminPhysicianCreateViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit Provider Page";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
    @* <link rel="stylesheet" href="~/css/PatientRequest.css" /> *@
}
<style>
    .agreement-name{
        max-width: 350px;
        min-width: 350px;
    }
    .agreement-name label{
        margin-left: 15px;
    }
</style>

<main class="Physician-Create-Section container-sm mt-sm-5">
    <div class="d-flex justify-content-end mt-4">
        <a asp-area="Admin" asp-controller="Provider" asp-action="Index" class="btn btn-sm back-link"><i
                class="fa-solid fa-chevron-left"></i> Back</a>
    </div>
    <div class="d-flex mt-4">
        <h4 class="fw-bold">Create Physician Account</h4>
    </div>
     <div class="p-4 mt-3 mb-3 rounded shadow border">
         <form asp-area="Admin" asp-controller="Provider" asp-action="UpdatePersonalInfo" id="phy-account-form" method="post" >
            <div>
                <h5>Account Information</h5>
                    <div class="row mt-3">
                        <div class="col-md-4 mb-3">
                            <div class="form-floating">
                                <input asp-for="Username" type="text" class="form-control" id="username" placeholder="UserName" >
                                <label asp-for="Username" for="UserName">User Name</label>
                            </div>
                            <span  class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="password" placeholder="password">
                                <label for="password">Password</label>
                            </div>
                            <span asp class="text-danger" id="password-Valid"></span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-floating">
                                <select asp-for="RoleId" class="form-select mb-3" aria-label="Large select example" placeholder="Role">
                                    <option selected >Role</option>
                                    @foreach(var item in Model.AllRoleList){
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                                <label asp-for="RoleId" for="Status">Role</label>
                            </div>
                            <span class="text-danger"></span>
                        </div>
                    </div>
            </div>
            <div>
                <div class="mt-4" id="adminInfoSection">
                <h5>Administrator Information</h5>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-floating ">
                            <input asp-for="Firstname" type="text" class="form-control" id="firstname" placeholder="firstname" >
                            <label asp-for="Firstname" for="firstname">First Name</label>
                        </div>
                        <span id="FirstNameValid" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating ">
                            <input asp-for="Lastname" type="text" class="form-control" id="lastname" placeholder="lastname" >
                            <label asp-for="Lastname" for="lastname">Last Name</label>
                        </div>
                        <span id="LastNameValid" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating ">
                            <input asp-for="Email" type="email" class="form-control" id="Email" placeholder="email" >
                            <label asp-for="Email" for="Email">Email</label>
                        </div>
                        <span id="EmailValid" class="text-danger" id="email-valid"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input asp-for="Phone" id="Mobile" class="form-control" type="tel"  />
                            <input asp-for="Phone" type="hidden" id="phone_hidden" name="full_phone"  />
                        </div>
                        <span class="text-danger" id="mobile-valid"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating ">
                            <input asp-for="MedicalLicense" type="text" class="form-control" id="MedicalLicense" placeholder="MedicalLicense"
                                >
                            <label asp-for="MedicalLicense" for="MedicalLicense">Medical License#</label>
                        </div>
                        <span id="MedicalLicenseValid" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating ">
                            <input asp-for="NPI" type="text" class="form-control" id="npi" placeholder="npi"
                                >
                            <label asp-for="NPI" for="npi">NPI Number</label>
                        </div>
                        <span id="npiValid" class="text-danger" ></span>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="d-flex flex-wrap gap-2">
                            @{
                                for(int i=0; i < Model.AllCheckBoxRegionList.Count();i++){
                                    <div class="form-check">
                                        <input type="hidden" asp-for="@Model.AllCheckBoxRegionList[i].Id">
                                        <input class="form-check-input" type="checkbox" asp-for="@Model.AllCheckBoxRegionList[i].IsSelected" id="check-@Model.AllCheckBoxRegionList[i].Id">
                                        <label class="form-check-label" for="check-@Model.AllCheckBoxRegionList[i].Id">
                                            @Model.AllCheckBoxRegionList[i].Name
                                        </label>
                                </div>
                                }
                            }
                        </div>
                    </div>
                    
                </div>
            </div>
            </div>
             <div class="mt-4" id="billingInfoSection">
                <h5>Mailing and Billing Information</h5>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-floating ">
                            <input asp-for="Address1" type="text" class="form-control" id="Address1" placeholder="Address1" >
                            <label asp-for="Address1" for="Address1">Address1</label>
                        </div>
                        <span id="Address1Valid" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating ">
                            <input asp-for="Address2" type="text" class="form-control" id="Address2" placeholder="Address2" >
                            <label asp-for="Address2" for="Address2">Address2</label>
                        </div>
                        <span id="Address2Valid" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating ">
                            <input asp-for="City" type="text" class="form-control" id="city" placeholder="city" >
                            <label asp-for="City" for="city">City</label>
                        </div>
                        <span id="CityValid" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating ">
                            <select asp-for="State" class="form-select" aria-label="State" placeholder="State"
                                >
                                <option selected >State</option>
                                @foreach(var item in Model.AllRegionsList){
                                     <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                            <label asp-for="State" for="State">State</label>
                        </div>
                        <span id="StateValid" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input asp-for="Zipcode" type="text" class="form-control" id="zipcode" placeholder="zipcode" >
                            <label asp-for="Zipcode" for="zipcode">Zip Code</label>
                        </div>
                        <span id="ZipCodeValid" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input asp-for="AltPhone" id="Phone" class="form-control" type="tel"  />
                            <input asp-for="AltPhone" type="hidden" id="phone_hidden" name="full_phone"  />
                        </div>
                        <span id="PhoneValid" class="text-danger" id="mobile-valid"></span>
                    </div>
                </div>
            </div>
            <div class="mt-4" id="profileDocSection">
                <h5>Provider Profile</h5>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-floating ">
                            <input asp-for="Businessname" type="text" class="form-control" id="businessName" placeholder="businessName" >
                            <label asp-for="Businessname" for="businessName">Business Name</label>
                        </div>
                        <span id="businessName" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating ">
                            <input asp-for="BusinessWebsite" type="text" class="form-control" id="businessWebsite" placeholder="businessWebsite" >
                            <label asp-for="BusinessWebsite" for="businessWebsite">Business Website</label>
                        </div>
                        <span id="businessWebsite" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Select Photo" name="file" id="photoUpload" readonly onclick="openFileSelector('fileInput')" >
                            <input type="file" asp-for="UserPhoto" id="fileInput" name="UserPhoto" accept="image/*" style="display:none" onchange="showPreview(this, 'imagePreview')">
                            <button class="input-group-text upload-btn theme-btn" type="button" onclick="openFileSelector('fileInput')" >Upload</button>
                        </div>
                    </div>
                    <div class="col-12">
                         <div class="form-floating mt-2">
                            <textarea asp-for="AdminNote" class="form-control"
                                placeholder="adminNote" id="adminNote"
                                style="height: 150px; resize:none;" ></textarea>
                            <label asp-for="AdminNote" for="adminNote"
                                style="white-space: normal;">Admin Notes</label>
                        </div>
                    </div>
                   
                </div>
            </div>
            <hr style="border-width: 2px;">
             <div class="Onboard-Details" id="Onboard-Details">
                <div>
                    <h5>Onboarding</h5>
                </div>
                <div class="d-flex flex-wrap gap-2 mt-3">
                    <div class="agreement-name">
                        <input type="checkbox" class="form-check-input" asp-for="@Model.IsICA"  id="ica" disabled>
                        <label>Independent Contractor Agreement</label>
                    </div>
                    <div>
                        <input type="file" id="uploadIca" asp-for="IsICAFile" style="display: none;">
                        <button type="button"  class="btn secondary-theme-btn" id="doc-1">Upload</button>
                    </div>
                </div>
                <div class="d-flex flex-wrap gap-2 mt-3">
                    <div class="agreement-name">
                    <input type="checkbox" asp-for="@Model.IsBgCheck" class="form-check-input" id="bgCheck" disabled>
                        <label>Background Check</label>
                    </div>
                    <div>
                        <input type="file" id="uploadbackcheck" asp-for="IsBgCheckFile" style="display: none;">
                        <button type="button"  class="btn secondary-theme-btn" id="doc-2">Upload</button>
                    
                    </div>
                </div>
                <div class="d-flex flex-wrap gap-2 mt-3">
                    <div class="agreement-name">
                    <input  type="checkbox" asp-for="@Model.IsHIPAA" class="form-check-input" id="hipaa" disabled>
                        <label>HIPAA Compliance</label>
                    </div>
                    <div>
                        <input type="file" id="uploadHIPAA" asp-for="IsHIPAAFile" style="display: none;">
                        <button type="button"  class="btn secondary-theme-btn" id="doc-3">Upload</button>
                        
                    </div>
                </div>
                <div class="d-flex flex-wrap gap-2 mt-3">
                    <div class="agreement-name">
                    <input type="checkbox" asp-for="@Model.IsNDAFile" class="form-check-input" id="nda" disabled>
                        <label>Non-Disclosure Agreement</label>
                    </div>
                    <div>
                        <input type="file" id="uploadNDA" asp-for="IsNDAFile" style="display: none;">
                        <button  type="button" class="btn secondary-theme-btn" id="doc-4">Upload</button>
                    </div>
                </div>
            </div>
            <hr style="border-width: 2px;">
            <div class="d-flex justify-content-end">
                <button class="btn btn-success">
                    Create Account
                </button>
            </div>
         </form>
     </div>
</main>
<script>

</script>
