@using HalloDocService.ViewModels;
@model RecordsViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Patient History Page";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}
<style>
    table thead th {
        background: transparent !important;
        white-space: nowrap;
    }
    table thead tr {
        background: rgba(97, 97, 97, 0.301);
    }
    table tbody tr:hover {
        background: rgba(156, 232, 255, 0.103);
        cursor: default;
    }
</style>
<main class="Partner-Section container-fluid p-md-5 mt-sm-5 mb-3">
    <div class="d-flex justify-content-end mt-4">
        <a asp-area="Admin" asp-controller="PatientHistory" asp-action="Index" class="btn btn-sm back-link"><i class="fa-solid fa-chevron-left"></i> Back</a>
    </div>
    <div class="d-flex mt-4">
        <h4 class="fw-bold">Patient Records</h4>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <th>Client Name</th>
                <th>Created Date</th>
                <th>Confirmation</th>
                <th>Provider Name</th>
                <th>Conclude Date</th>
                <th>Status</th>
                <th>Final Report</th>
                <th>Actions</th>
            </thead>
            <tbody>
                @if (((IEnumerable<PatientRequestView>)Model.PatientRequestList).Any())
                {
                    @foreach (var item in Model.PatientRequestList)
                    {
                        <tr>
                            <td>@item.PatientName</td>
                            <td>@item.CreatedDate</td>
                            <td>@item.ConfirmationNumber</td>
                            <td>@item.ProviderName</td>
                            <td>@item.ConcludedDate</td>
                            <td>@item.Status</td>
                            <td>
                                -
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn theme-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Actions
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/admin/dashboard/ViewCase/@item.Id">View Case</a></li>
                                        <li><a class="dropdown-item" href="#">Chat</a></li>
                                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Dashboard" asp-action="ViewUploads" asp-route-RequestId="@item.Id">Documents</a></li>
                                    </ul>
                                    </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6" class="text-center">No records found.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>


<script>
    if($(this).data("id")==7){
            $("#adminDashTab li a").removeClass("active");
            $(this).addClass("active").find("a").addClass("active");
            $(this).find(".inner-nav ul li a").removeClass("active");
            $(this).find(".inner-nav ul li[data-inner-itemid='7'] a").addClass("active");
            $(this).find(".showMenu").html(`Scheduling <i class="fa-solid fa-caret-down"></i>`);
        }
</script>