@using HalloDocService.ViewModels;
@model AdminPhysicianEditViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit Provider Page";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
    @* <link rel="stylesheet" href="~/css/PatientRequest.css" /> *@
}
<style>
    .agreement-name {
        max-width: 350px;
        min-width: 350px;
    }

    .agreement-name label {
        margin-left: 15px;
    }

    #sig-canvas {
        border: 2px dotted #CCCCCC;
        border-radius: 15px;
        cursor: crosshair;
    }
</style>
</style>

<main class="Profile-Section container-sm mt-sm-5">
    <div class="d-flex mt-4">
        <h4 class="fw-bold">My Profile</h4>
    </div>
    <div class="p-4 mt-3 mb-3 rounded shadow border">
        <div class="d-flex justify-content-end">
            <button class="btn theme-btn" data-bs-toggle="modal" data-bs-target="#reqModal">Request To Admin</button>
        </div>
        <div>
            <h5>Account Information</h5>
            <div class="row mt-3">
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input asp-for="Username" type="text" class="form-control" id="username" placeholder="UserName"
                            disabled>
                        <label asp-for="Username" for="UserName">User Name</label>
                    </div>
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="password" placeholder="password">
                        <label for="password">Password</label>
                    </div>
                    <span asp class="text-danger" id="password-Valid"></span>
                </div>
                <div class="col-12">
                    <div class="d-flex justify-content-end gap-2">
                        <button class="btn theme-btn" type="button" id="resetPWDBtn"
                            onclick="resetPassword('@Model.Id')">
                            Reset Password
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4" id="adminInfoSection">
            <h5>Administrator Information</h5>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating ">
                        <input asp-for="Firstname" type="text" class="form-control" id="firstname"
                            placeholder="firstname" disabled>
                        <label asp-for="Firstname" for="firstname">First Name</label>
                    </div>
                    <span id="FirstNameValid" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-floating ">
                        <input asp-for="Lastname" type="text" class="form-control" id="lastname" placeholder="lastname"
                            disabled>
                        <label asp-for="Lastname" for="lastname">Last Name</label>
                    </div>
                    <span id="LastNameValid" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-floating ">
                        <input asp-for="Email" type="email" class="form-control" id="Email" placeholder="email"
                            disabled>
                        <label asp-for="Email" for="Email">Email</label>
                    </div>
                    <span id="EmailValid" class="text-danger" id="email-valid"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input asp-for="Phone" id="Mobile" class="form-control" type="tel" oninput="this.value = this.value.replace(/[^0-9]/g, '')" disabled />
                        <input asp-for="Phone" type="hidden" id="phone_hidden" name="full_phone" disabled />
                    </div>
                    <span class="text-danger" id="mobile-valid"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-floating ">
                        <input asp-for="MedicalLicense" type="text" class="form-control" id="MedicalLicense"
                            placeholder="MedicalLicense" disabled>
                        <label asp-for="MedicalLicense" for="MedicalLicense">Medical License#</label>
                    </div>
                    <span id="MedicalLicenseValid" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-floating ">
                        <input asp-for="NPI" type="text" class="form-control" id="npi" placeholder="npi" disabled>
                        <label asp-for="NPI" for="npi">NPI Number</label>
                    </div>
                    <span id="npiValid" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="d-flex flex-wrap gap-2" id="RegionSelect">
                        @foreach (var item in Model.RegionSelect)
                        {
                            <div class="form-check SelectedRegion">
                                <input class="form-check-input" type="checkbox" value="@item.Id" id="inputCheckBox-@item.Id"
                                    checked disabled>
                                <label class="form-check-label" for="inputCheckBox-@item.Id">
                                    @item.Name
                                </label>
                            </div>
                        }
                        @foreach (var item in Model.RegionUnSelect)
                        {
                            <div class="form-check UnSelectedRegion">
                                <input class="form-check-input" type="checkbox" value="@item.Id" id="inputCheckBox-@item.Id"
                                    disabled>
                                <label class="form-check-label" for="inputCheckBox-@item.Id">
                                    @item.Name
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4" id="billingInfoSection">
            <h5>Mailing and Billing Information</h5>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating ">
                        <input asp-for="Address1" type="text" class="form-control" id="Address1" placeholder="Address1"
                            disabled>
                        <label asp-for="Address1" for="Address1">Address1</label>
                    </div>
                    <span id="Address1Valid" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-floating ">
                        <input asp-for="Address2" type="text" class="form-control" id="Address2" placeholder="Address2"
                            disabled>
                        <label asp-for="Address2" for="Address2">Address2</label>
                    </div>
                    <span id="Address2Valid" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-floating ">
                        <input asp-for="City" type="text" class="form-control" id="city" placeholder="city" disabled>
                        <label asp-for="City" for="city">City</label>
                    </div>
                    <span id="CityValid" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-floating ">
                        <select asp-for="State" class="form-select mb-3" aria-label="State" placeholder="State"
                            disabled>
                            <option selected disabled>State</option>
                            @foreach (var item in Model.AllRegionList)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                        <label asp-for="State" for="State">State</label>
                    </div>
                    <span id="StateValid" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input asp-for="Zipcode" type="text" class="form-control" id="zipcode" placeholder="zipcode"
                            disabled>
                        <label asp-for="Zipcode" for="zipcode">Zip Code</label>
                    </div>
                    <span id="ZipCodeValid" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input asp-for="AltPhone" id="Phone" class="form-control" type="tel" oninput="this.value = this.value.replace(/[^0-9]/g, '')" disabled />
                        <input asp-for="AltPhone" type="hidden" id="phone_hidden" name="full_phone" disabled />
                    </div>
                    <span id="PhoneValid" class="text-danger" id="mobile-valid"></span>
                </div>
            </div>
        </div>



        <div class="mt-4" id="profileDocSection">
            <h5>Provider Profile</h5>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating ">
                        <input asp-for="Businessname" type="text" class="form-control" id="businessName"
                            placeholder="businessName" disabled>
                        <label asp-for="Businessname" for="businessName">Business Name</label>
                    </div>
                    <span id="businessName" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-floating ">
                        <input asp-for="BusinessWebsite" type="text" class="form-control" id="businessWebsite"
                            placeholder="businessWebsite" disabled>
                        <label asp-for="BusinessWebsite" for="businessWebsite">Business Website</label>
                    </div>
                    <span id="businessWebsite" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Select Photo" name="file" id="photoUpload"
                            readonly onclick="openFileSelector('fileInput')" disabled>
                        <input type="file" asp-for="UserPhoto" id="fileInput" name="UserPhoto" accept="image/*"
                            style="display:none" onchange="showPreview(this, 'imagePreview')">
                        <button class="input-group-text upload-btn theme-btn" type="button"
                            onclick="openFileSelector('fileInput')" disabled>Upload</button>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="d-flex gap-2">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Select Signature" name="file"
                                id="signUpload" readonly onclick="openFileSelector('SignInput')" disabled>
                            <input type="file" asp-for="UserSign" id="SignInput" name="UserSign" accept="image/*"
                                style="display:none" onchange="showPreview(this , 'signPreview')">
                            <button class="input-group-text upload-btn theme-btn" type="button"
                                onclick="openFileSelector('SignInput')" disabled>Upload</button>
                        </div>
                        <button class="btn upload-btn secondary-theme-btn" type="button" disabled data-bs-toggle="modal"
                            data-bs-target="#createSignModal">Create</button>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div id="imagePreview" style="max-width: 200px; max-height:200px;overflow:hidden;">
                        @if (Model.UploadPhoto != null)
                        {
                            <img src="~/@Model.UploadPhoto" class="img-fluid" id="imagePreview" alt="imagePreview"
                                style="max-width: 200px; max-height:200px;overflow:hidden;">
                        }
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div id="signPreview" style="max-width: 200px; max-height:200px;overflow:hidden;">
                        @if (!string.IsNullOrEmpty(Model.UploadSign) && Model.UploadSign.Contains("uploads"))
                        {
                            <img src="~/@Model.UploadSign" class="img-fluid" id="signPreview" alt=""
                                style="max-width: 200px; max-height: 200px; overflow: hidden;">
                        }
                        else
                        {
                            <img src="@Model.UploadSign" class="img-fluid" id="signPreview" alt=""
                                style="max-width: 200px; max-height: 200px; overflow: hidden;">
                        }
                    </div>
                </div>


            </div>
        </div>

        <hr style="border-width: 2px;">

        <div class="Onboard-Details" id="Onboard-Details">
            <input type="file" style="display: none;" id="fileDoc" />
            <div>
                <h5>Onboarding</h5>
            </div>
            <div class="d-flex flex-wrap gap-2 mt-3">
                <div class="agreement-name">
                    <input checked="@Model.IsICA" class="form-check-input" type="checkbox" id="ica" disabled>
                    <label for="ica">Independent Contractor Agreement</label>
                </div>
                <div>
                    @if (Model.IsICA == true)
                    {
                        <a href="/@Model.IsICAFile" target="_blank" class="btn secondary-theme-btn">View</a>
                    }
                </div>
            </div>

            <div class="d-flex flex-wrap gap-2 mt-3">
                <div class="agreement-name">
                    <input checked="@Model.IsHIPAA" class="form-check-input" type="checkbox" id="hipaa" disabled>
                    <label for="hipaa">HIPAA Compliance</label>
                </div>
                <div>
                    @if (Model.IsHIPAA == true)
                    {
                        <a href="/@Model.IsHIPAAFile" target="_blank" class="btn secondary-theme-btn">View</a>
                    }
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Modal -->
<div class="modal fade shadow-lg " id="reqModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-light" id="exampleModalLabel">Request To Administrator</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-area="Provider" asp-controller="Profile" asp-action="sendRequest">
                <div class="modal-body">
                    <p class="text-muted">Need To Send Message To Edit</p>
                    <div class="form-floating mt-2">
                        <textarea class="form-control" placeholder="Leave a comment here" name="RequestNote"
                            id="RequestNote" style="height: 100px; resize:none;"></textarea>
                        <label for="RequestNote">Message</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="submitBtn" class="btn secondary-theme-btn">Send</button>
                    <button type="reset" class="btn theme-btn" data-bs-dismiss="modal">Cancle</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    function resetPassword(Id) {
        const passwordVal = $("#password").val();
        if (passwordVal) {
            sendAjaxRequest('/Provider/Profile/setPassword', 'POST', { password: passwordVal, Id }, "application/x-www-form-urlencoded; charset=UTF-8", true)
                .then(function (response) {
                    $("#password").val('');
                    ToastSuccess("Password Reset Successfully!");
                }).catch(function (error) {
                    ToastError("Internal Server Error");
                })
        } else {
            $("#password-Valid").html("Password is Required");
            return;
        }
    }
</script>